# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

#editor specific files
.cursor/
.claude/

CLAUDE.local.md
CLAUDE.md



# =================
# Python Server
# =================

# 忽略虚拟环境文件夹
/server/venv/

# 忽略 Python 缓存文件
/server/__pycache__/
/server/*.pyc

# 忽略 LlamaIndex 的本地索引
/server/storage/

# 绝对禁止上传包含密钥的环境变量文件！
/server/.env